[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect
[submodule "public"]
	path = public
	url = git@github.com:bleathem/bleathem.github.io.git
