---
layout: default
---
-for post in site.posts[0..6]
  #content
    .post
      %h6= post.date.strftime("%A, %B #{post.date.day}, %Y")
      %h2
        %a{:href=>post.url}= post.title
      = post.content
      %hr