#sidebar .title {
 padding-bottom: 5px;
 font-size: 12px;
 color: #909090;
 text-transform: uppercase;
}

#sidebar hr {
 margin: 35px 0;
}

.about {
 color : #909090;
}

.about img {
 height: 80px;
 width: 80px;
 float: left;
}

.about .details {
 vertical-align: top;
 margin-left: 90px;
}

.about ul {
 margin-left : 0;
 list-style: none;
 padding-left: 2ex;
 text-indent: -2ex;
}

.about ul li {
}

.about .name {
 font-variant: small-caps;
 font-weight: bold;
 padding-bottom: 5px;
}

.about img {
 padding-right : 5px;
}

.tweet .tweet_outro {
 font-size : 11px;
 text-align: center;
}

.archive ul {
}


.archive li.collapse {
 
}