.navbar .container {
  width: 940px;
}

.navbar .nav > li > a.subscribe {
 padding : 15px 10px 13px;
}

#sidebar .title {
 padding-bottom: 5px;
 font-size: 12px;
 color: #909090;
 text-transform: uppercase;
}

#sidebar hr {
 margin: 35px 0;
}

.about {
 color : #909090;
}

.about img {
 height: 120px;
 width: 120px;
}

.about .details {
 text-align : left;
 vertical-align: top;
}

.about ul {
 margin-left : 0;
 list-style: none;
 padding-left: 2ex;
 text-indent: -2ex;
}

.about ul li {
}

.about .name {
 font-variant: small-caps;
 font-weight: bold;
 padding-bottom: 5px;
}

.about img {
 padding-right : 5px;
}

.tweet .tweet_outro {
 font-size : 11px;
 text-align: center;
}

.archive ul {
}


.archive li.collapse {
}

.pagination-links :first-child {
 border-radius: 3px 0 0 3px;
}

.pagination-links :last-child {
 border-radius: 0 3px 3px 0;
}

.pagination-links > * {
 border: 1px solid #ddd;
 padding: 8px 14px;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
 margin: 0;
 display: block;
 float:left;
}

.tags {
 text-transform: uppercase;
}

.tags .title {
 font-size: 12px;
 color: #909090;
}

@mixin tag-cloud-groups($groups, $increment: .1) {
  @for $n from 0 through ($groups - 1) {
    $opacity: $n * .05 + .8;
    @if $opacity > 1 {
      $opacity: 1;
    }
    .tag-#{$n} {
      font-size: #{1 + $n * $increment}em;  
      opacity: $opacity;
    }
  }
}

// Tag cloud styling

.tag-cloud {
  @include tag-cloud-groups(12, .15);
  a {
    padding: 3px;
    text-decoration: none;
    white-space: nowrap;
  }
  text-align : center;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title,
h1.title a,
h2.title a,
h3.title a,
h4.title a,
h5.title a,
h6.title a {
 color: #c06000;
}

#content h2.title {
 font-weight: normal;
}

#content h3 {
 margin-top: 10px;
 font-size: 14px;
}

#content .img {
 margin: auto;
 text-align : center;
}

pre.prettyprint {
 overflow:auto;
 width : auto;
 overflow: auto;
 word-wrap: normal;
 white-space: pre;
}